.grid
{
    display: grid;
    grid-template-columns: 300px 300px 300px 300px 300px;
    grid-template-rows: 100px 100px 100px 100px 100px;
    grid-gap: 3px;
    grid-column-gap: 2px;


}
.grid div:nth-child(1)
{
    grid-column-start: 1;
    grid-column-end: 5;
    border: 1px solid;
    text-align: center;
}
.grid div:nth-child(2)
{
    grid-column-start: 1;
    grid-column-end: 5;
    border: 1px solid;
    text-align: center;
}
.grid div:nth-child(3)
{
    grid-column-start: 1;
    grid-column-end: 4;
    border: 1px solid;
    grid-row-start: 3;
    grid-row-end: 5;
    text-align: center;
}
.grid div:nth-child(4)
{
    grid-column-start: 4;
    grid-column-end: 5;
    border: 1px solid;
    grid-row-start: 3;
    grid-row-end: 5;
    text-align: center;
}
.grid div:nth-child(5)
{
    grid-column-start: 1;
    grid-column-end: 5;
    border: 1px solid;
    text-align: center;
}